body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}
body[data-bs-theme="dark"] {
  background-color: #333;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

nav .left-section a {
  margin-right: 15px;
  text-decoration: none;
  color: #007bff;
}

nav .right-section button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.grid-row {
  display: flex;
  margin: 20px;
}
.grid-row {
  display: flex;
  flex-wrap: wrap;
}

.left-column {
  flex: 1;
}

.right-column {
  flex: 2;
}

#resultScreen {
  background-color: #332703;
  color: #fff;
  padding: 20px;
  font-size: 1.5rem;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  width: 100%;
}
